.button-delete
    cursor: pointer
    position: absolute
    display: flex
    top: 1rem
    right: 1rem
    margin: 0
    padding: 0
    color: $text-color-alt
    border: .5px $text-color-alt solid
    background: $main-color
    border-radius: 50%
    width: 1.6rem
    height: 1.6rem
    &:hover
        border-width: 2px
        transform: scale(1.05)
    &:focus
        transform: scale(.95)
    & > svg
        pointer-events: none
        margin: auto
