
.control-panel
    box-sizing: border-box
    position: fixed
    display: flex
    flex-direction: row
    justify-content: space-between
    width: 100%
    padding: .6rem

.filters-list
    margin-right: 1rem

.search-input
    align-self: center
    font-size: 1rem
    background-color: transparent
    width: 6rem
    right: 10%
    height: 1.2rem


